/* Blue Flat Button
http://bootsnipp.com/snippets/featured/fat-and-flat-blue-button
==================================================*/
.btn-xlarge{
    position: relative;
   vertical-align: center;
    margin: 30px;
    width: 200px;
    height: 200px;
    padding: 48px 48px;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #FFBD00;
    border: 0;
    border-bottom: 3px solid #FFBD00;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -3px #FFBD00;
    box-shadow: inset 0 -3px #FFBD00;
}
.btn-xlarge:active {
    top: 2px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-xlarge:hover {
    background: #FFCB32;
    border-bottom: 3px solid #FFCB32;
    -webkit-box-shadow: inset 0 -3px #FFCB32;
    box-shadow: inset 0 -3px #FFCB32;
}
