<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <!-- Login Servlet -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.velvetmastermind.rostr.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/doLogin</url-pattern>
	</servlet-mapping>
	<!-- Add New User Servlet -->
	<servlet>
		<servlet-name>AddNewUserServlet</servlet-name>
		<servlet-class>com.velvetmastermind.rostr.AddNewUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNewUserServlet</servlet-name>
		<url-pattern>/doAddNewUser</url-pattern>
	</servlet-mapping>
	<!-- Approve New User Servlet -->
	<servlet>
		<servlet-name>ApproveNewUserServlet</servlet-name>
		<servlet-class>com.velvetmastermind.rostr.ApprovePendingUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApproveNewUserServlet</servlet-name>
		<url-pattern>/doApproveUser</url-pattern>
	</servlet-mapping>
	<!-- Deny New User Servlet -->
	<servlet>
		<servlet-name>DenyNewUserServlet</servlet-name>
		<servlet-class>com.velvetmastermind.rostr.DenyPendingUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DenyNewUserServlet</servlet-name>
		<url-pattern>/doDenyUser</url-pattern>
	</servlet-mapping>
    <!-- AddAdminServlet used only in early stages of development to create an administrator account -->
    <servlet>
        <servlet-name>AddAdminServlet</servlet-name>
        <servlet-class>com.velvetmastermind.rostr.AddAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAdminServlet</servlet-name>
        <url-pattern>/doAddAdmin</url-pattern>
    </servlet-mapping>
    <!--Update Courses Servlet -->
	<servlet>
		<servlet-name>UpdateCoursesServlet</servlet-name>
		<servlet-class>com.velvetmastermind.rostr.UpdateCoursesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCoursesServlet</servlet-name>
		<url-pattern>/doUpdateCourses</url-pattern>
	</servlet-mapping>
	<!-- Edit Course Servelet -->
	<servlet>
		<servlet-name>EditCourseServlet</servlet-name>
		<servlet-class>com.velvetmastermind.rostr.EditCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditCourseServlet</servlet-name>
		<url-pattern>/doEditCourse</url-pattern>
	</servlet-mapping>
	<!-- Delete Course Servlet -->
	<servlet>
		<servlet-name>DeleteCourseServlet</servlet-name>
		<servlet-class>com.velvetmastermind.rostr.DeleteCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCourseServlet</servlet-name>
		<url-pattern>/doDeleteCourse</url-pattern>
	</servlet-mapping>
	<!-- Email Servlet -->
	<servlet>
		<servlet-name>EmailServlet</servlet-name>
		<servlet-class>com.velvetmastermind.rostr.EmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailServlet</servlet-name>
		<url-pattern>/doSendEmail</url-pattern>
	</servlet-mapping>
	<!-- Main Landing Page (LOGIN) -->
	<welcome-file-list>
		<welcome-file>LOGIN/LOGIN_Landing.jsp</welcome-file>
	</welcome-file-list>
</web-app>
